.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-container {
  height: 100vh;
  width: 100vw;
  position: relative;

  background-color: black;
}
.welcome-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-component-title {
  font-size: 10rem;
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-effects-menu {
  background-color: white;
}
